/* --- Pantalla de intro --- */
#intro {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    overflow: hidden;
    animation: fadeOut 3s ease 3s forwards;
}

#intro video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#contenido {
    opacity: 0;
    animation: showContent 1s ease 6s forwards;
}

#glitch {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    z-index: -10;
    visibility: visible;
}

/* Distribución de los botones */
#btn1 {
    top: 150%;
    left: 10%;
}

#btn2 {
    top: 450%;
    left: 85%;
}

#btn3 {
    top: 600%;
    left: 20%;
}

#btn4 {
    top: 720%;
    left: 75%;
}

#btn5 {
    top: 800%;
    left: 50%;
}

/* --- Animaciones --- */
@keyframes fadeOut {
    to {
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes showContent {
    to {
        opacity: 1;
    }
}

/* Estilo del menú */
nav {
    background-color: #2dff0d;
    padding: 15px 0;
    text-align: center;
    box-shadow: 0 2px 10px rgba(32, 89, 143, 0.2);
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
    border-radius: 100px;
}

/* el logo */
.menu-principal {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* menu derecha */
.menu-derecha {
    display: flex;
    gap: 0px;
}


/* Estilos del menuu */
.menu-item {
    padding: 10px 20px;
    font-family: "Quantico", sans-serif;
    font-weight: 800;
    color: #040115;
    text-decoration: none;
    transition: all 0.3s ease;
}

.menu-item:hover {
    transform: translateY(-3px);
}


p {
    font-family: "Roboto", sans-serif;
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    color: #ffffff;
    margin: 0;
}

h1 {
    font-family: "Quantico", sans-serif;
    font-weight: 400;
    text-align: center;
    color: #ffffff;
    font-size: 90px;
    margin: 20px;
}

h2 {
    font-family: "Quantico", sans-serif;
    font-weight: 400;
    text-align: center;
    color: #000000;
    font-size: 20px;
    margin: 20px;
}

.responsive-img {
    max-width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Secciones */
section {
    margin-bottom: 50px;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.gradient-box {
    padding: 20px;
    border-radius: 10px;
    background: linear-gradient(135deg, #a9fa12 10%, #ffffff 80%);
    color: white;
    margin-bottom: 20px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

/* --- BOTONES SECRETOS --- */
.hidden-btn {
    position: absolute;
    width: 40px;
    height: 40px;
    opacity: 0.3;
    /* visible para depurar */
    cursor: pointer;
    z-index: 99999;
    border: 1px solid red;
}